<div>
  <input type="text" [(ngModel)]="filter" placeholder="Search cocktails by name" (input)="filterCocktails()">
</div>
<div class="cocktail-list">
  @for (cocktail of filteredCocktails; track $index) {
    <div class="cocktail-card">
      <img [src]="cocktail.imageUrl" alt="{{ cocktail.name }}">
      <div class="content">
        <h3>{{ cocktail.name }}</h3>
        <p>{{ cocktail.isAlcoholic ? 'Alcoholic' : 'Non-alcoholic' }}</p>
        <p>{{ cocktail.ingredients.join(' | ') }}</p>
        <mat-icon>star_border</mat-icon>
      </div>
    </div>
  }
</div>