<div>
  <input type="text" [(ngModel)]="filter" placeholder="Search cocktails by name" (input)="filterCocktails()">
</div>
<div class="cocktail-list">
  <div *ngFor="let cocktail of filteredCocktails; let i = index" class="cocktail-card">
    <img [src]="cocktail.imageUrl" alt="{{ cocktail.name }}">
    <div class="content">
      <h3>{{ cocktail.name }}</h3>
      <p>{{ cocktail.isAlcoholic ? 'Alcoholic' : 'Non-alcoholic' }}</p>
      <p>{{ cocktail.ingredients.join(' | ') }}</p>
      <span class="icon-star" (click)="toggleFavorite(cocktail.id)" [class.active]="cocktail.isFavorite"></span> 
    </div>
  </div>
</div>