<div class="cocktail-listing-container">
  <div class="filters">
    <h3>Filters</h3>
    <label for="cocktailName">Cocktail name </label>
    <input type="text" id="cocktailName" [(ngModel)]="filter" (input)="filterCocktails()">
  </div>
  <div class="cocktail-list">
    <div *ngFor="let cocktail of filteredCocktails; let i = index">
      <div class="cocktail-card">
        <img [src]="cocktail.imageUrl" alt="{{ cocktail.name }}">
        <div class="content">
          <h3 class="title" (click)="navigateToCocktailDetails(cocktail.id)">{{ cocktail.name }}</h3>
          <span [ngClass]="cocktail.isAlcoholic ? 'alcoholic' : 'non-alcoholic'">{{ cocktail.isAlcoholic ? 'Alcoholic' :
            'Non-alcoholic' }}</span>
          <p class="ingredients">{{ cocktail.ingredients.join(' | ') }}</p>
        </div>
        <div class="favorite">
          <span class="icon-star" (click)="toggleFavorite(cocktail.id)" [class.active]="cocktail.isFavorite"></span>
        </div>
      </div>
    </div>
  </div>
</div>