.cocktail-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cocktail-card {
  width: 400px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 10px;
}

.cocktail-card img {
  width: 150px;
  height: 150px;
  border-radius: 10px 0 0 10px;
  margin-right: 10px;
}

.cocktail-card .content {
  width: 240px;
  height: inherit;
  position: relative;
}

.cocktail-card .icon-star {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 32px;
  width: 32px;
}